@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0px;

}
#logo{
    display: flex;
    color: white;
    margin: 0px 14px;
    align-items: center;
    font-size: 26px;
    font-family: 'Nerko One', cursive;
    margin-right: 42px;
}
#logo img{
    filter: invert(1);
    height: 42px;
}

#navbar{
    background-color: #ed7b1a;
     padding: 8px 6px;
     font-family: 'Nerko One', cursive;

   
}
#navbar ul{    
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
#navbar li{    
    list-style: none;

}

#navbar li a{    
    text-decoration: none;
    padding: 11px 23px;
    color: white;
    font-size: 25px;
}
#navbar li a:hover{    
    color: black;
    font-size: 30px;
}

#introSection{
    color: #ff5200;
    height: 604px;
    display: flex;
    flex-direction: column;
    font-family: 'Russo One', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: wheat;
    background: center / cover no-repeat url("/static/bg.jpg");
    opacity: 0.8;
    padding-bottom: 40px;
 
}
#introSection div{
    background-color: rgb(0 0 0);
    padding: 2px;
}
#introSection div.smile{
    font-size: 30px;
    background-color: rgb(0 0 0);}
#missionsection{
    height: 346px;
    background-color: rgb(57 130 134);}
#missionsection h2{
    text-align: center;
    font-size: 30px;
    color: wheat;
    padding-top: 25px;
    font-family: 'Russo One', sans-serif;
}
.card{
    border: 2px solid white;
    display: inline-block;
    color: white;
    border-radius: 6px;
    width: 26%;
    margin: 32px 44px;
    height: 214px;
    font-family: 'Balsamiq Sans', cursive;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 127px;
    padding: 0px 14px;
    margin: 12px -2px;
}
.card-img img{
    height: inherit;
}

div.card h3{
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    /* padding: 11px; */
    margin: 0px 12px;
    margin-top: 17px;
    font-size: 20px;


}
#sponserSection{
    height: 300px;
    background-color: #3a3939;
}

#sponserSection h2{
    text-align: center;
    font-size: 30px;
    color: wheat;
    padding-top: 40px;
    font-family: 'Russo One', sans-serif;
}
#sponser{
    height: 107px;
    max-width: 992px;
    margin: 50px auto;
}
.spImage{
    height: 90%;
    margin: 20px;
}

#footer{
    height: 50px;
    background-color: #ed7b1a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 23px;
    font-family: 'Nerko One', cursive;
}
